
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="../Login/RegisterNewUser" method="post">
    <input type="email" name="Email" placeholder="Email: " />
    <br />

    <input type="password" name="Password" placeholder="Password: " />
    <br />

    <input type="submit" value="Register" />

</form>